<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">소프라노 <span class="badge">3</span></div>
		<table class="table">
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">알토 <span class="badge">3</span></div>
		<table class="table">
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">테너 <span class="badge">3</span></div>
		<table class="table">
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">베이스 <span class="badge">3</span></div>
		<table class="table">
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">기타 <span class="badge">3</span></div>
		<table class="table">
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">휴직 <span class="badge">3</span></div>
		<table class="table">
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">탈단 <span class="badge">3</span></div>
		<table class="table">
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
			<tr>
				<td>홍길동</td>
				<td>집사</td>
				<td>찬양대원</td>
				<td><a href="#"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
</div>