<nav class="navbar title">
	<div class="container" style="text-align: center;">
		<ul class="pager">
			<li class="previous"></li>
			<li style="font-size:22px;" data-app-menu="member" data-app-icon="ion-person"></li>
			<li class="next"></li>
		</ul>
	</div>
</nav>
<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="저장" style="margin-bottom:20px;">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-success btn-md" data-ng-click="regist()"><i class='ion-person-add'></i> 신규 학생 등록</button>
		</div>
	</div>

	<div class="panel panel-default"  ng-repeat="part in partList">
		<div class="panel-heading" data-ng-click="sView =! sView" style="cursor: pointer;">
		<span class="text-success font-weight-bold">{{part.PART_NAME}} </span>
		<span class="text-info font-weight-bold">{{part.TEACHER_NAME}} </span>
		<span class="badge" data-ng-bind="part.memberList.length"></span>
		<span style="float: right;">
			<i data-ng-class="sView?'ion-chevron-up':'ion-chevron-down'"></i>
		</span>
		</div>
		<table class="table" data-ng-show="sView">
			<tr data-ng-repeat="m in part.memberList">
				<td data-ng-bind="m.MEMBER_NAME" class="text-center"></td>
				<td data-ng-bind="m.PHONE_NO" class="text-center"></td>
				<td data-ng-bind="m.BIRTHDAY" class="text-center"></td>
				<td class="text-center"><a href="javascript:;" data-ng-click="detail(m.MEMBER_ID);"><i class='ion-edit'></i> 상세</a></td>
			</tr>
		</table>
		<div class="panel-body" data-ng-show="sView">
			<div class="gallery" data-ng-repeat="m in part.memberList">
				<a href="javascript:;" data-ng-click="detail(m.MEMBER_ID);">
					<img src="/photo/S1/{{m.PHOTO}}">
				</a>
				<div class="desc">{{m.MEMBER_NAME}}</div>
			</div>

		</div>
		<tr data-ng-repeat="m in part.memberList"></tr>
	</div>
</div>
