<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">소프라노 <span class="badge" data-ng-bind="memberList.s.length"></span></div>
		<table class="table">
			<tr data-ng-repeat="m in memberList.s">
				<td data-ng-bind="m.memberNm" class="text-center"></td>
				<td data-ng-bind="m.cPositionNm" class="text-center"></td>
				<td data-ng-bind="m.positionNm" class="text-center"></td>
				<td class="text-center"><a href="javascript:;" data-ng-click="detail(m.memberId);"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">알토 <span class="badge" data-ng-bind="memberList.a.length"></span></div>
		<table class="table">
			<tr data-ng-repeat="m in memberList.a">
				<td data-ng-bind="m.memberNm" class="text-center"></td>
				<td data-ng-bind="m.cPositionNm" class="text-center"></td>
				<td data-ng-bind="m.positionNm" class="text-center"></td>
				<td class="text-center"><a href="javascript:;" data-ng-click="detail(m.memberId);"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">테너 <span class="badge" data-ng-bind="memberList.t.length"></span></div>
		<table class="table">
			<tr data-ng-repeat="m in memberList.t">
				<td data-ng-bind="m.memberNm" class="text-center"></td>
				<td data-ng-bind="m.cPositionNm" class="text-center"></td>
				<td data-ng-bind="m.positionNm" class="text-center"></td>
				<td class="text-center"><a href="javascript:;" data-ng-click="detail(m.memberId);"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">베이스 <span class="badge" data-ng-bind="memberList.b.length"></span></div>
		<table class="table">
			<tr data-ng-repeat="m in memberList.b">
				<td data-ng-bind="m.memberNm" class="text-center"></td>
				<td data-ng-bind="m.cPositionNm" class="text-center"></td>
				<td data-ng-bind="m.positionNm" class="text-center"></td>
				<td class="text-center"><a href="javascript:;" data-ng-click="detail(m.memberId);"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">기타 <span class="badge" data-ng-bind="memberList.e.length"></span></div>
		<table class="table">
			<tr data-ng-repeat="m in memberList.e">
				<td data-ng-bind="m.memberNm" class="text-center"></td>
				<td data-ng-bind="m.cPositionNm" class="text-center"></td>
				<td data-ng-bind="m.positionNm" class="text-center"></td>
				<td class="text-center"><a href="javascript:;" data-ng-click="detail(m.memberId);"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">휴직 <span class="badge" data-ng-bind="memberList.h.length"></span></div>
		<table class="table">
			<tr data-ng-repeat="m in memberList.h">
				<td data-ng-bind="m.memberNm" class="text-center"></td>
				<td data-ng-bind="m.cPositionNm" class="text-center"></td>
				<td data-ng-bind="m.positionNm" class="text-center"></td>
				<td class="text-center"><a href="javascript:;" data-ng-click="detail(m.memberId);"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">탈단 <span class="badge" data-ng-bind="memberList.t.length"></span></div>
		<table class="table">
			<tr data-ng-repeat="m in memberList.t">
				<td data-ng-bind="m.memberNm" class="text-center"></td>
				<td data-ng-bind="m.cPositionNm" class="text-center"></td>
				<td data-ng-bind="m.positionNm" class="text-center"></td>
				<td class="text-center"><a href="javascript:;" data-ng-click="detail(m.memberId);"><i class='ion-edit'></i> 수정</a></td>
			</tr>
		</table>
	</div>
</div>