<nav class="navbar title">
	<div class="container" style="text-align: center;">
		<ul class="pager">
			<li class="previous"></li>
			<li style="font-size:22px;" data-app-menu="main" data-app-icon="ion-ios-color-wand"></li>
			<li class="next"></li>
		</ul>
	</div>
</nav>
<div class="container" style="margin-top:20px;">
	<div class="jumbotron">
		<p data-app-welcome-message></p>
	</div>
	<div class="list-group">
		<a class="list-group-item" href="#/member" data-app-menu="member" data-app-icon="ion-person"></a></li>
		<a class="list-group-item" href="#/att" data-app-menu="att" data-app-icon="ion-checkmark-round"></a></li>
		<a class="list-group-item" href="#/rank" data-app-menu="rank" data-app-icon="ion-trophy"></a></li>
		<!-- a class="list-group-item" href="#/doc" data-app-menu="doc" data-app-icon="ion-easel"></a></li -->
	</div>
</div>