<nav class="navbar title">
	<div class="container" style="text-align: center;">
		<ul class="pager">
			<li class="previous"></li>
			<li style="font-size:22px;" data-app-menu="main" data-app-icon="ion-ios-color-wand"></li>
			<li class="next"></li>
		</ul>
	</div>
</nav>
<div class="container" style="margin-top:20px;">
	<div class="jumbotron">
		<p id="main_title" data-app-welcome-message></p>
	</div>
	<div class="list-group">
		<a class="list-group-item" href="#member" data-app-menu="member" data-app-icon="ion-person"></a>
		<a class="list-group-item" href="#member_kind" data-app-menu="member_kind" data-app-icon="ion-person"></a>
		<a class="list-group-item" href="#attendance" data-app-menu="attendance" data-app-icon="ion-checkmark-round"></a>
		<a class="list-group-item" href="#rank" data-app-menu="rank" data-app-icon="ion-trophy"></a>
		<a class="list-group-item" href="#part" data-app-menu="part" data-app-icon="ion-easel"></a></li>	
		<a class="list-group-item" href="#calendar" data-app-menu="calendar" data-app-icon="ion-calendar"></a>
		<!-- a class="list-group-item" href="#/doc" data-app-menu="doc" data-app-icon="ion-easel"></a></li -->
	</div>
</div>
