/* app css stylesheet */
body {
	padding-bottom:70px;
}

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

.slide-left.ng-enter, .slide-left.ng-leave, .slide-right.ng-enter,
	.slide-right.ng-leave {
	position: absolute;
	top: 52px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	background: inherit;
	-ms-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.slide-left.ng-enter {
	z-index: 100;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.slide-left.ng-leave {
	z-index: 101;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.slide-right.ng-enter {
	z-index: 101;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.slide-right.ng-leave {
	z-index: 101;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}