/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

nav.title {
	color:#fff;
	background: #304CD8;
	background: -webkit-linear-gradient(left, #304CD8 0%, #9F3762 100%);
	background: -ms-linear-gradient(left, #304CD8 0%, #9F3762 100%);
	background: linear-gradient(to right, #304CD8 0%, #9F3762 100%);
}

span.badge {
	color:#fff;
	vertical-align: text-top!important;
	padding: 3px 10px!important;
	font-size:11px!important;
}

div.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index:9998;
	background-color: rgba(255, 255, 255, 0.4);
	top:0;
	left:0;
}

.backdrop .fa {
	font-size: 30px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-19px;
	margin-left:-19px;
	color:#8B000C;
}

body.backdrop {
	overflow: hidden;
}

.main-menu {
	cursor: pointer;
}

.main-menu:HOVER {
	background-color: #F5F5F5;
}
table.att tr.att {
	background-color: #FFE18A;
}
tr.att i.ion-checkmark-round {
	color: #10A000;
}

div.notify {
	background-color: rgba(24,22,33,0.8);
	color:#E8E8E8;
}

.notify i {
	font-size:30px;
	float:left;
	vertical-align:middle;
	margin-right:15px;
	border: none;
	padding: 0px 10px;
	border-radius:10px;
	color:#fff;
	background: #00C575;
	background: -webkit-linear-gradient(up, #00BC43 0%, #A5EC72 100%);
	background: -ms-linear-gradient(up, #00BC43 0%, #A5EC72 100%);
	background: linear-gradient(to top, #00BC43 0%, #A5EC72 100%);
}