<nav class="navbar title">
	<div class="container" style="text-align: center;">
		<ul class="pager">
			<li class="previous"></li>
			<li style="font-size:22px;" data-app-menu="calendar" data-app-icon="ion-trophy"></li>
			<li class="next"></li>
		</ul>
	</div>
</nav>
<style>
  #calendar {
    max-width: 900px;
    margin: 0;
	font-size: 1.5em;

  }
  #calendar .fc-sun { color:red;  }

  @media (max-width : 500px) {
	#calendar {
		font-size: 0.9em;
	}
  }

</style>

<div class="container">
	<div id='calendar'></div>
<p></p>
</div>