<nav class="navbar title">
	<div class="container" style="text-align: center;">
		<ul class="pager">
			<li class="previous"></li>
			<li style="font-size:22px;" data-app-menu="att" data-app-icon="ion-checkmark-round"></li>
			<li class="next"></li>
		</ul>
	</div>
</nav>
<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="더보기" style="margin-bottom:20px;">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-success btn-md" data-ng-click="regist();"><i class='ion-plus-round'></i> 연습일정 추가</button>
		</div>
	</div>
	<div class="input-group" style="margin-bottom:15px;">
	  <span class="input-group-addon" id="basic-addon1"><i class='ion-search'></i></span>
	  <input type="text" data-ng-model="keyword" class="form-control" placeholder="검색어 입력" aria-describedby="basic-addon1">
	</div>
	<div class="panel" style="height:9000px;text-align: center;" data-ng-show="mock">
		&nbsp;
	</div>
	<div class="panel" data-ng-repeat="att in attList | filter : keyword" data-ng-class="att.practiceCd=='AM'?'panel-success':att.practiceCd=='PM'?'panel-info':'panel-danger'">
		<div class="panel-heading" data-ng-click="detail(att);" style="cursor: pointer;"><i data-ng-class="att.lockYn=='Y'?'ion-locked':'ion-calendar'"></i> <strong data-ng-bind="att.practiceDt"></strong> <span class="badge" data-ng-bind="att.practiceNm"></span> <span class="badge" data-ng-bind="att.attendanceCnt"></span> <span class="badge" data-ng-show="att.lockYn=='Y'">마감</span></div>
		<ul class="list-group" style="font-size:90%;">
			<li class="list-group-item" data-ng-show="att.musicInfo"><i class="ion-music-note"></i> <span data-ng-bind="att.musicInfo"></span></li>
			<li class="list-group-item" data-ng-show="att.etcMsg"><i class="ion-android-document"></i> <span data-ng-bind="att.etcMsg"></span></li>
			<li class="list-group-item">
				<span>소프라노</span>
				<span class="badge" data-ng-bind="att.s"></span>
			</li>
			<li class="list-group-item">
				<span>알토</span>
				<span class="badge" data-ng-bind="att.a"></span>
			</li>
			<li class="list-group-item">
				<span>테너</span>
				<span class="badge" data-ng-bind="att.t"></span>
			</li>
			<li class="list-group-item">
				<span>베이스</span>
				<span class="badge" data-ng-bind="att.b"></span>
			</li>
			<li class="list-group-item">
				<span>기타</span>
				<span class="badge" data-ng-bind="att.e"></span>
			</li>
		</ul>
	</div>
	<div class="btn-group btn-group-justified" role="group" aria-label="더보기" style="margin-bottom:20px;" data-ng-show="needMoreButton">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-primary btn-md" data-ng-click="more();"><i class='ion-more'></i> 더보기</button>
		</div>
	</div>
</div>