<nav class="navbar title">
	<div class="container" style="text-align: center;">
		<ul class="pager">
			<li class="previous"></li>
			<li style="font-size:22px;" data-app-menu="att" data-app-icon="ion-checkmark-round"></li>
			<li class="next"></li>
		</ul>
	</div>
</nav>
<div class="container">

	<div data-ng-click="detail(att);"  style="cursor: pointer;" class="panel" data-ng-repeat="att in attList | filter : keyword" data-ng-class="att.practiceCd=='WORSHIP'?'panel-success':att.practiceCd=='CAMP'?'panel-info':'panel-danger'">
		<div class="panel-heading" >
			<strong data-ng-bind="att.practiceDt"></strong> 
			<span class="badge" data-ng-bind="att.practiceNm"></span> 
			<span class="badge" data-ng-bind="att.attendanceCnt"></span>
		</div>
		<ul class="list-group" style="font-size:90%;">
			<li class="list-group-item" data-ng-show="att.info"><i class="ion-android-document"></i> <span data-ng-bind="att.info"></span></li>
		</ul>
	</div>
	<div class="btn-group btn-group-justified" role="group" aria-label="더보기" style="margin-bottom:20px;" data-ng-show="needMoreButton">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-primary btn-md" data-ng-click="more();"><i class='ion-more'></i> 더보기</button>
		</div>
	</div>
</div>
