<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading"> <strong>2015-01-01</strong> <span class="badge">오후연습</span> <span class="badge">19</span></div>
		<ul class="list-group" style="font-size:90%;">
			<li class="list-group-item">일어나 빛을 발하라(중앙성가 18집 p235), 고요한 밤 참된 빛오시네(중앙성가 24집 p154)</li>
			<li class="list-group-item">
				<span>소프라노</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>알토</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>테너</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>베이스</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>기타</span>
				<span class="badge">13</span>
			</li>
		</ul>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading"> <strong>2015-01-01</strong> <span class="badge">오후연습</span> <span class="badge">19</span></div>
		<ul class="list-group" style="font-size:90%;">
			<li class="list-group-item">일어나 빛을 발하라(중앙성가 18집 p235), 고요한 밤 참된 빛오시네(중앙성가 24집 p154)</li>
			<li class="list-group-item">
				<span>소프라노</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>알토</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>테너</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>베이스</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>기타</span>
				<span class="badge">13</span>
			</li>
		</ul>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading"> <strong>2015-01-01</strong> <span class="badge">오후연습</span> <span class="badge">19</span></div>
		<ul class="list-group" style="font-size:90%;">
			<li class="list-group-item">일어나 빛을 발하라(중앙성가 18집 p235), 고요한 밤 참된 빛오시네(중앙성가 24집 p154)</li>
			<li class="list-group-item">
				<span>소프라노</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>알토</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>테너</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>베이스</span>
				<span class="badge">13</span>
			</li>
			<li class="list-group-item">
				<span>기타</span>
				<span class="badge">13</span>
			</li>
		</ul>
	</div>
</div>