<nav class="navbar title">
	<div class="container" style="text-align: center;">
		<ul class="pager">
			<li class="previous"></li>
			<li style="font-size:22px;" data-app-menu="att" data-app-icon="ion-checkmark-round"></li>
			<li class="next"></li>
		</ul>
	</div>
</nav>
<form name="attForm">
<input type="hidden" data-ng-model="att.practiceDt"/>
<input type="hidden" data-ng-model="att.practiceCd"/>
<div class="container" style="margin-bottom:20px;">
	<div class="panel" data-ng-class="att.practiceCd=='WORSHIP'?'panel-success':att.practiceCd=='CAMP'?'panel-info':att.practiceCd=='SP'?'panel-danger':'panel-default'">
		<div class="panel-heading"><i data-ng-class="att.lockYn=='Y'?'ion-locked':'ion-calendar'"></i> 
			<strong data-ng-bind="att.practiceDt"></strong> 
			<span class="badge" data-ng-bind="att.practiceNm"></span> 
			<span class="badge" data-ng-bind="att.attendanceCnt"></span> 
		</div>
		<ul class="list-group" style="font-size:90%;">
			<li class="list-group-item">
				<div class="input-group">
					<span class="input-group-addon"><i class="ion-android-document"></i></span>
					<input type="text" class="form-control" name="info" data-ng-show="true" data-ng-model="att.info" aria-label="행사요약" placeholder="행사요약">
					<span class="input-group-addon" style="cursor: pointer;" data-ng-click="saveInfo(att.practiceDt, att.practiceCd, att.info);">저장</span>
				</div>
				<BR>
				  <div class="panel panel-primary">
					<div class="panel-heading">공지사항</div>
					<div class="panel-body">
						<div class="input-group">
							<textarea rows="6" name="etcMsg" class="form-control" aria-label="공지사항" placeholder="모두에게 전달해야 하는 내용을 적어주세요" data-ng-model="att.etcMsg">
							</textarea>
							<span class="input-group-addon" style="cursor: pointer;" data-ng-click="saveEtcMsg(att.practiceDt, att.practiceCd, att.etcMsg);">저장</span>
						</div>
					</div>
				  </div>
			</li>
		</ul>
	</div>

	<div ng-repeat="part in partList" class="panel panel-default" data-ng-class="att.practiceCd=='WORSHIP'?'panel-success':att.practiceCd=='PM'?'panel-info':att.practiceCd=='SP'?'panel-danger':'panel-default'">		
		<div  class="panel-heading" data-ng-click="sView =! sView" style="cursor: pointer;">
			<span class="text-success font-weight-bold">{{part.PART_NM}} </span>	
			<span class="text-info font-weight-bold">{{part.TEACHER_NM}} </span>
			<span class="badge" data-ng-bind="(part.memberList | filter:'Y').length"></span>
			<span style="float: right;"><i data-ng-class="sView?'ion-chevron-up':'ion-chevron-down'"></i></span>
		</div>
		<div class="panel-group" data-ng-show="sView" style="padding: 10px">
		  <div class="panel panel-primary">
			<div class="panel-heading">출석명단</div>
			<div class="panel-body">
				<table class="table" >
					<tr data-ng-repeat="m in part.memberList" data-ng-class="m.attYn=='Y'?'att':''" data-ng-click="select(att.practiceDt, m.memberId, m.attYn);">
						<td class="text-center"><i class='ion-checkmark-round' data-ng-class="m.attYn=='Y'?'chk':m.attYn=='N'?'unchk':''"></i></td>
						<td data-ng-bind="m.MEMBER_NM" class="text-center"></td>
					</tr>
				</table>
			</div>
		  </div>
		  <div class="panel panel-info">
			<div class="panel-heading">교사보고서</div>
			<div class="panel-body">
				<div class="input-group">
				<textarea rows="4" name="MEMBER_REPORT_{{part.PART_CD}}" class="form-control" aria-label="교사보고서" placeholder="교사보고서를 작성해 주세요" data-ng-model="part.MEMBER_REPORT">
				</textarea>
				<span class="input-group-addon" style="cursor: pointer;" data-ng-click="saveReport(att.practiceDt, part.PART_CD, part.MEMBER_REPORT);">저장</span>
				<div>
			</div>
		  </div>
		</div>
	</div>
</div>

</div>
	<div class="btn-group btn-group-justified" role="group" aria-label="저장">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" data-ng-click="gotoAttList();"><i class='ion-calendar'></i> 목록</button>
		</div>
		<!--<div class="btn-group" role="group" data-ng-show="att.lockYn == 'N'">
			<button type="button" class="btn btn-success" data-ng-click="lockAtt(att.practiceDt, att.practiceCd);"><i class='ion-locked'></i> 마감</button>
		</div>
		<div class="btn-group" role="group" data-ng-show="att.lockYn == 'Y'">
			<button type="button" class="btn btn-success" data-ng-click="unlockAtt(att.practiceDt, att.practiceCd);"><i class='ion-unlocked'></i> 마감해제</button>
		</div>
		<div class="btn-group" role="group" data-ng-show="att.lockYn == 'N'">
			<button type="button" class="btn btn-danger" data-ng-click="remove(att.practiceDt, att.practiceCd);"><i class='ion-trash-a'></i> 삭제</button>
		</div>-->
	</div>
</form>