<nav class="navbar title">
	<div class="container" style="text-align: center;">
		<ul class="pager">
			<li class="previous"></li>
			<li style="font-size:22px;" data-app-menu="rank" data-app-icon="ion-trophy"></li>
			<li class="next"></li>
		</ul>
	</div>
</nav>
<style>
canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


canvas {
	max-height:800px;
	min-height:300px;
}


@media all and (min-device-width:1024px) {
	canvas {
		max-height:1800px;	
	}
}
</style>

<div class="container">
  <div class="panel panel-default">
	<div class="panel-heading">주일출석통계</div>
	<div class="panel-body">
		<canvas id="canvas"  style="min-height:200px;" ></canvas>
	</div>
  </div>

   <div class="panel panel-default">
	<div class="panel-heading">성별비</div>
	<div class="panel-body">
		<div class="list-group">
		<span class="list-group-item"><canvas id="rank_total_gender"  ></canvas></span>
		</div>
	</div>
  </div>

   <div class="panel panel-default">
	<div class="panel-heading">반별출석</div>
	<div class="panel-body">
		<div class="list-group">
		<span class="list-group-item"><canvas id="rank_total_part"></canvas></span>
		</div>
	</div>
  </div>
</div>